html, body, div, span, applet, object, iframe, h1, h2, h3, 
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: 0; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 100%; 
    font-family: inherit; 
    vertical-align: baseline; 
} 
:focus { 
    outline: 0; 
} 
table { 
    border-collapse: separate; 
    border-spacing: 0; 
} 
caption, th, td { 
    text-align: left; 
    font-weight: normal; 
} 
a img, iframe { 
    border: none; 
} 
ol, ul { 
    list-style: none; 
} 
input, textarea, select, button { 
    font-size: 100%; 
    font-family: inherit; 
} 

.touchstyle-headphone{-webkit-box-sizing:border-box;position:fixed;top:20px;right:20px;z-index:9999;width:32px;height:32px;border:2px solid rgba(255, 255, 255, 0);background-color:rgba(0,0,0,.3);-webkit-background-size:20px 20px;-webkit-border-radius:16px 16px;cursor:pointer;}.touchstyle-headphone>.icon{margin:4px 0 0 5px;width:14px;height:14px;border:2px solid rgba(255, 255, 255, 0.9);border-radius:50px 50px 0 0;border-bottom:none;}.touchstyle-headphone>.icon:before{position:absolute;content:"";top:14px;left:8px;width:4px;height:8px;background-color:rgba(255, 255, 255, 0.9);border-radius:0 2px 2px 0;}.touchstyle-headphone>.icon:after{position:absolute;content:"";top:14px;left:16px;width:4px;height:8px;background:rgba(255, 255, 255, 0.9);border-radius:2px 0 0 2px;}@-webkit-keyframes touchstyle-music-paly-animate { from {-webkit-transform:rotate(0deg);} to {-webkit-transform:rotate(360deg);} }

body{
  font-family:"微软雅黑";
  background: url('../images/logo_bg.jpg') 50% 50% no-repeat;
}
#fullpage{
  display: none;
}
.animation-mark{
  position: absolute;
  opacity: 0;
}
.animated{
  opacity: 0;
}
.section{
  padding: 0 20px;
  color: #fff;
}
.question{
  width: 72%;
  position: absolute;
  right: 7%;
  bottom: 5%;
  font-size: 13px;
  z-index: 100;
  color: #1f4354;
  animation-delay: 2.2s;
  -webkit-animation-delay: 2.2s;
  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;
}
.question input[type=radio]{
  margin-left: 10px;
}
.question-title{
  width: 75%;
  height: 32px;
  padding: 0 20% 8% 11%;
  text-align: center;
  text-align: center;
}
.question-bg{
  animation-duration: 0.5s;-webkit-animation-duration:0.5s;animation-delay:2s;-webkit-animation-delay:2s;top:auto;opacity:0;left:0;right:auto;bottom:0;z-index:0;width:100%;
}